
    <footer>
        <a href="http://www.bitfertig.de">www.bitfertig.de</a>
        <a href="http://www.bitfertig.de/impressum">Impressum</a>
        <a href="http://www.bitfertig.de/datenschutzerklaerung">Datenschutz</a>
        <a href="https://github.com/Bitfertig/blog.bitfertig.de">GitHub</a>
    </footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JVHM2MRB5W"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-JVHM2MRB5W');
</script>

</body>
</html>