<!DOCTYPE html>
<html lang="{{ $.language }}">
<head>
    <title>{{ $.title }} - Bitfertig Blog</title>
    <base href="/public">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ $.description }}">
    <meta name="keywords" content="{{ $.keywords }}">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <header>
        <a href="/"><img src="/static/bitfertig_matrix_400x400.png" alt="Bitfertig"></a>
    </header>